ale_py==0.8.1
ANNarchy==4.8.0.4
brian2
brian2genn==1.7.0
experiments==0.1.0
gymnasium==0.29.1
matplotlib==3.8.2
nengo==4.0.0
nest==0.4.3
numpy
opencv_python==4.9.0.80
pandas==2.2.2
Pillow==10.4.0
scikit_learn==1.4.0
scipy==1.14.0
setuptools
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==2.1.2
torchmetrics==1.4.0.post0
torchvision==0.16.2
tqdm==4.66.1
-e ./bindsnet

